In [2]:
d={'ram':200}
d['ram']+=20
d

{'ram': 220}

In [4]:
s='sai123ram345'
sum([int(i) for i in s if i.isdigit()])

18

In [5]:
s='sai 123 ram 345'
s=s.replace(' ','')
s

'sai123ram345'

In [6]:
s='sai 123 ram 345'
sum([int(i) for i in s.split(' ') if i.isdigit()])

468

In [ ]:
s='sairam sailakshmi'

In [7]:
s={'name':'sai','branch':'cse'}
print('\n'.join([i+' 'for i in s]))

name
branch

In [8]:
y=[print(key,value) for key,value in s.items()]

name sai
branch cse

In [9]:
y

[None, None]

In [14]:
s=['sai','surya','ramu','lakshmi','sri']
sum([len(i) for i in s])

22

### map the name with group
     persons name with a then name belogs to A group otherwise group B

In [15]:
names=['sai','ram','lakshmi','srinu','indira','suresh']
groups={'A':[],'B':[]}

In [16]:
import re

In [17]:
for name in names:
    if re.search('a',name):
        groups['A'].append(name)
    else:
        groups['B'].append(name)
print(names)

['sai', 'ram', 'lakshmi', 'srinu', 'indira', 'suresh']

In [18]:
print(10,20,30,40)

10 20 30 40

In [20]:
print(10,20,30,40,sep='\n')

10
20
30
40

In [21]:
print(10,20,30,40,sep='60')

10602060306040

In [22]:
2 >3

False

In [23]:
2<3

True

In [24]:
0 or 3

3

In [25]:
0 and 3

0

In [26]:
2 and 3

3

In [30]:
s=['abc','cab','bca']
s.sort(key=lambda s:s[2])
s

['bca', 'cab', 'abc']

#### take the data everytime until user gives DONE print minimum and max number

In [31]:
## 10,30,sai,lakshmi,50,5 DONE

In [ ]:
number=[]
while True:
    data = input('given data')
    if data=='DONE':
        break
    elif data.isdigit():
            numbers.append(int(data))
if len(numbers)>0:
    print('minimum',min(numbers))
    print('maximum',max(numbers))
else:
    print('user not given numbers')

In [3]:
import re

In [7]:
s='ram123s7ai345'

In [8]:
sum(list(map(int,re.findall('\d+',s))))

475

In [12]:
s='ram123s7ai345'
sum(list(map(int,re.findall('1\d+',s))))

123

In [6]:
a=0
for each in range(10):
    a +=1
each

9